{% extends 'layouts/application.html' %}{% block bodyClass %}class="internal"{% endblock %}{% block content %}
<main id="main-content">
	{% include "modules/banner.html" %}
  <div class="space-50"></div>
	<div class="container">
		<h1>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h1>
		<h2>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h2>
		<h3><a href="#">AT TILSON, </a>SAFETY IS OUR FIRST PRIORITY.</h3>
		<h4>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h4>
		<h5>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h5>
		<h6>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h6>
		<ul>
			<li>provide specific training and certifications to tower <a href="#">climbers and managers in the field</a></li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
		</ul>
		<ol>
			<li>provide specific training and certifications to tower <a href="#">climbers and managers in the field</a></li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
			<li>provide specific training and certifications to tower climbers and managers in the field</li>
		</ol>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
		</p>
		<div class="bg-black color-white card-body">
			<h1>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h1>
			<h2>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h2>
			<h3>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h3>
			<h4>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h4>
			<h5>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h5>
			<h6>AT TILSON, SAFETY IS OUR FIRST PRIORITY.</h6>
			<ul>
				<li>provide specific training and certifications to tower <a href="#">climbers and managers in the field</a></li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
			</ul>
			<ol>
				<li>provide specific training and certifications to tower <a href="#">climbers and managers in the field</a></li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
				<li>provide specific training and certifications to tower climbers and managers in the field</li>
			</ol>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
			</p>
		</div>
    <div class="space-50"></div>
		<p>
			<a href="#" class="btn btn-primary">Default Large CTA</a>
		</p>
		<p>
			<a href="#" class="btn btn-danger ">Default Large CTA</a>
		</p>
		<p>
			<a href="#" class="btn btn-info">Default btn</a>
		</p>
		<div class="form-group">
			<label for="">Name</label>
			<input class="form-control"></input>
		</div>
		<div class="form-sendmail">
			<label>Form Field Title</label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Default Form Field Text">
				<span class="input-group-btn">
					<button class="btn btn-button custom-btn" type="button">Send me</button>
				</span>
			</div>
		</div>
    <div class="space-50"></div>
	</div>
</main>
{% endblock %}
