node_modules
.npmrc
.tmp
.cache
.DS_Store
.sass-cache
.publish
public
deploy
.public
.idea
.vscode
test.js
test2.js
npm-debug.log
npm-error.log
Desktop.ini
yarn-debug.log*
yarn-error.log*
c8starter.rar
gulpfile.js/plugins/gulp-check-page-empty.js
gulpfile.js/plugins/gulp-sizereport.js
