.wrapper {
  position: relative;
  width: 100%;
}

.oveflow {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.line-h {
  h3,
  .h3,
  h2 {
    position: relative;
    padding-bottom: 11px;
    letter-spacing: 2px;
    border-bottom: 2px solid #1e1c1c;
  }
}

.grayscale {
  filter: grayscale(100%);
}

.style-ul {
  list-style-type: none;
  li {
    position: relative;
    &::before {
      position: absolute;
      top: 10px;
      left: -10px;
      width: 4px;
      height: 4px;
      content: "";
      background-color: $body-color;
    }
  }
}

.touch {
  * {
    cursor: pointer;
  }
}

.overlay-after {
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    background-color: #000;
    opacity: .3;
  }
}

.box-img {
  position: relative;
  overflow: hidden;
  .bg {
    position: relative;
    background-position: center;
    transition: .25s all;
    transform: scale(1);
  }
  &:not(.non-link):hover {
    .bg {
      transition: .25s all;
      transform: scale(1.04);
    }
  }
  .ps-as {
    &::after {
      position: absolute;
      top: 12px;
      right: 12px;
      bottom: 12px;
      left: 12px;
      display: block;
      content: "";
      border: 1px solid #fff;
      opacity: 0;
      transition: .25s all;
      transform: scale(.7);
    }
    &:hover {
      &::after {
        opacity: 1;
        opacity: .37;
        transition: .25s all;
        transform: scale(1);
      }
    }
  }
}

.bg {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bg-bottom-center {
  background-position: bottom center !important;
}

.bg-bottom-right {
  background-position: bottom right !important;
}

.bg-bottom-left {
  background-position: bottom left !important;
}

.bg-center {
  background-position: center center !important;
}

.bg-top-left {
  background-position: top left !important;
}

.bg-top-right {
  background-position: top right !important;
}

.bg-fixed {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
}

.bg-inhert {
  background-color: inherit;
}

.bg-gray {
  background-color: #e5e8ea;
}

.bg-gray-v2 {
  background-color: $gray-900;
}

.bg-blue {
  background-color: $link-color;
  a {
    color: #fff;
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.color-white {
  color: #fff;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.ps-as {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.ps-rv {
  position: relative;
}

.ps-stt {
  position: static;
}

.clear {
  display: block;
  height: 0 !important;
  padding: 0 !important;
  clear: both;
}

.error {
  border: 1px solid $red !important;
}

.d-table,
.d-sm-table,
.d-md-table,
.d-lg-table {
  table-layout: fixed;
}

.table-row {
  display: table-row;
}

.br {
  display: block;
  height: 0;
  font-size: 0;
}

.maxwidth {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.maxwidth-v1 {
  max-width: 1000px;
  &.text-center {
    max-width: 1100px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.maxwidth-v2 {
  max-width: 900px;
  &.text-center {
    max-width: 1000px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.no-shadow {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.no-radius {
  border-radius: 0 !important;
}

.no-shadown {
  text-shadow: none !important;
}

.no-bg {
  background: none !important;
}

.ls-none {
  padding-left: 0;
  list-style: none;
}

.ul-inline-block {
  li {
    display: inline-block;
    padding: 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.text-center {
  ul,
  ol {
    padding-left: 0;
    li {
      list-style-position: inside;
    }
  }
  ul {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }
}
#main-content {
  padding-top: 50px;
}

@include media-breakpoint-up(md) {
  .bg-sm {
    background-image: none !important;
  }
}

@media only screen and (max-device-width: 1050px) {
  .touch {
    * {
      cursor: pointer;
    }
  }
}

@include media-breakpoint-down(sm) {
  .bg-xs {
    background-image: none !important;
  }
  .height-equa,
  .height-mb {
    height: auto !important;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #header {
    position: absolute;
  }
}
